/* here you can put your own css to customize and override the theme */
.table-dynamic .table-filters {
  margin: 10px 0;
  padding: 8px;
}
.table-dynamic .filter-result-info {
  padding: 7px;
}
.table-dynamic .table-bordered {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.table-dynamic .table-bordered thead th {
  position: relative;
  padding: 0;
}
.table-dynamic .table-bordered thead th > .th {
  position: relative;
  padding: 8px 20px 8px 8px;
}
.table-dynamic .table-bordered thead th .glyphicon-chevron-up,
.table-dynamic .table-bordered thead th .glyphicon-chevron-down {
  position: absolute;
  color: #999;
}
.table-dynamic .table-bordered thead th .glyphicon-chevron-up:hover,
.table-dynamic .table-bordered thead th .glyphicon-chevron-down:hover {
  color: "red";
  cursor: pointer;
}
.table-dynamic .table-bordered thead th .glyphicon-chevron-up.active,
.table-dynamic .table-bordered thead th .glyphicon-chevron-down.active {
  color: "red";
}
.table-dynamic .table-bordered thead th .glyphicon-chevron-up {
  top: 4px;
  right: 5px;
}
.table-dynamic .table-bordered thead th .glyphicon-chevron-down {
  top: 18px;
  right: 6px;
}
.table-dynamic .table-footer {
  margin: 10px 0;
  padding: 8px;
}
.table-dynamic .page-num-info span {
  padding: 6px;
}
.table-dynamic .pagination-container ul {
  margin: 0;
}
.table-dynamic .pagination-container ul li:hover {
  cursor: pointer;
}
