
<div class="main">
    <div class="container">
        <section class="panel panel-default table-dynamic">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Category : {{SelectedCategory}}</strong></div>
            <div class="table-filters">
                <div class="row">
                    <div class="col-sm-4 col-xs-6">
                        <form>
                            <input type="text"
                                   placeholder="search"
                                   class="form-control"
                                   data-ng-model="searchKeywords"
                                   data-ng-keyup="search()">
                        </form>
                    </div>
                    <div class="col-sm-3 col-xs-6 filter-result-info">
                        <span>
                            Showing {{filteredProducts.length}}/{{allProducts.length}} entries
                        </span>
                    </div>
                    <span>
                        <button class="btn btn-success" ng-click="addProduct()">Add Product</button>
                        <button class="btn btn-danger" ng-click="delete()">Delete Category</button>
                    </span>

                </div>
            </div>
            <table class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr>
                        <th>
                            <div class="th">
                                Product Image

                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Name
                                <span class="glyphicon glyphicon-chevron-up"
                                      data-ng-click=" order('name') "
                                      data-ng-class="{active: row == 'name'}"></span>
                                <span class="glyphicon glyphicon-chevron-down"
                                      data-ng-click=" order('-name') "
                                      data-ng-class="{active: row == '-name'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Price
                                <span class="glyphicon glyphicon-chevron-up"
                                      data-ng-click=" order('price') "
                                      data-ng-class="{active: row == 'price'}"></span>
                                <span class="glyphicon glyphicon-chevron-down"
                                      data-ng-click=" order('-price') "
                                      data-ng-class="{active: row == '-price'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Discounted Price
                                <span class="glyphicon glyphicon-chevron-up"
                                      data-ng-click=" order('discountedPrice') "
                                      data-ng-class="{active: row == 'discountedPrice'}"></span>
                                <span class="glyphicon glyphicon-chevron-down"
                                      data-ng-click=" order('-discountedPrice') "
                                      data-ng-class="{active: row == '-discountedPrice'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Available
                                <span class="glyphicon glyphicon-chevron-up"
                                      data-ng-click=" order('available') "
                                      data-ng-class="{active: row == 'available'}"></span>
                                <span class="glyphicon glyphicon-chevron-down"
                                      data-ng-click=" order('-name') "
                                      data-ng-class="{active: row == '-available'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Description
                                <span class="glyphicon glyphicon-chevron-up"
                                      data-ng-click=" order('description') "
                                      data-ng-class="{active: row == 'description'}"></span>
                                <span class="glyphicon glyphicon-chevron-down"
                                      data-ng-click=" order('-description') "
                                      data-ng-class="{active: row == '-description'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Edit
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Delete
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="product in products">
                        <td style="text-align:center"><img ng-src="{{product.image_Url}}" style="height:50px; width:50px;" /></td>
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.discountedPrice}}</td>
                        <td>{{product.available}}</td>
                        <td>{{product.description}}</td>
                        <td><i class="fa fa-edit" ng-click="editProduct(product)"></i></td>
                        <td><a href="" ng-click="deleteProd(product.id)"><i class="fa fa-trash-o"></i></a></td>
                    </tr>
                </tbody>
            </table>
            <footer class="table-footer">
                <div class="row">
                    <div class="col-md-6 page-num-info">
                        <span>
                            Show
                            <select data-ng-model="numPerPage"
                                    data-ng-options="num for num in numPerPageOpt"
                                    data-ng-change="onNumPerPageChange()"></select>
                            entries per page
                        </span>
                    </div>
                    <div class="col-md-6 text-right pagination-container">
                        <pagination class="pagination-sm"
                                    page="currentPage"
                                    total-items="filteredProducts.length"
                                    max-size="4"
                                    on-select-page="select(page)"
                                    items-per-page="numPerPage"
                                    rotate="false"
                                   
                                    boundary-links="true"></pagination>
                    </div>
                </div>
            </footer>
        </section>
    </div>
    </div>
