    <!-- BEGIN HEADER -->
<div class="header">
    <div class="container">
        <a class="site-logo" href="#/home"><img src="img/logos/logo-shop-red.png" alt="Shopping Cart App"></a>
        <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>
        <!-- BEGIN CART -->
        <cart-summary></cart-summary>
        <!--END CART -->
        <!-- BEGIN NAVIGATION -->
        <div class="header-navigation">
            <ul>
                <li class="dropdown dropdown100 nav-catalogue" ng-repeat="category in menucategories | toArray">
                    <a class="dropdown-toggle" data-toggle="dropdown" ng-bind="category.$key.split('_')[0]" data-target="#" href="#" ng-click="gotoCategory(category.$key)">
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="header-navigation-content">
                                <div class="row">
                                    <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="product in category">
                                        <div class="product-item">
                                            <div class="pi-img-wrapper">
                                                <a href="#/products/{{product.id}}"><img src="{{product.image_Url}}" class="img-responsive" alt="{{product.name}}"></a>
                                            </div>
                                            <h3><a href="#/products/{{product.id}}">{{product.name}}</a></h3>
                                            <div class="pi-price">{{product.price | nairacurrency}}</div>
                                            <a href="#" ng-click="addtocart(product)" class="btn btn-default add2cart">Add to cart</a>
                                        </div>
                                    </div>
                                    <div class="row" style="text-align:center">
                                        <a class="btn btn-primary" href="#/category/{{category.$key}}">View All</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
                        Admin

                    </a>

                    <!-- BEGIN DROPDOWN MENU -->
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                        </li><li><a href="#/new-category"><span>Add Category</span></a></li>

                        <li ng-repeat="category in categories"><a href="#/admin/category/{{category.name}}-{{category.id}}">{{category.name}}</a></li>
                    </ul>
                    <!-- END DROPDOWN MENU -->
                </li>
                <!-- BEGIN TOP SEARCH -->
                <li class="menu-search">
                    <span class="sep"></span>
                    <i class="fa fa-search search-btn" search-box></i>
                    <div class="search-box">
                        <form action="#">
                            <div class="input-group">
                                <input type="text" placeholder="Search" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Search</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </li>
                <!-- END TOP SEARCH -->
            </ul>
        </div>
        <!-- END NAVIGATION -->
    </div>
</div>
<!-- Header END -->