<!-- BEGIN fast view of a product -->
<div id="product-pop-up" style="display: none; width: 700px;">
    <div class="product-page product-pop-up">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-3">
                <div class="product-main-image" image-zoom>
                    <img ng-src="{{product.image_Url}}" alt="{{product.name}}" class="img-responsive">
                </div>
                <div class="product-other-images">
                    <a href="#" class="active"><img alt="Berry Lace Dress" src="img/products/model3.jpg"></a>
                    <a href="#"><img alt="Berry Lace Dress" src="img/products/model4.jpg"></a>
                    <a href="#"><img alt="Berry Lace Dress" src="img/products/model5.jpg"></a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-9">
                <h2>{{product.name}}</h2>
                <div class="price-availability-block clearfix">
                    <div class="price">
                        <strong>{{product.discountedPrice | nairacurrency}}</strong>
                        <em><span>{{product.price | nairacurrency}}</span></em>
                    </div>
                    <div class="availability" ng-show="product.available">
                        Availability: <strong>In Stock</strong>
                    </div>
                    <div class="availability" ng-hide="product.available">
                        Availability: <strong>Out Of Stock</strong>
                    </div>
                </div>
                <div class="description">
                    <p>
                       {{product.description}}
                    </p>
                </div>
                <add-to-cart-page product="product" popup="true"></add-to-cart-page>
               
            </div>
            <div class="sticker sticker-sale"></div>
        </div>
    </div>
</div>
<!-- END fast view of a product -->
